@import '../../Styles/Config.module.scss';

.player {
  background-color: rgba($white, 0);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 250px;
  overflow: hidden;

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__name {
    font-size: 1.25rem;
  }
}

